* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
}

.container {
	margin-top: 15px;
}

form {
	display: flex;
	align-items: center;
	margin-top: 25px;
}

input[type="text"] {
	width: 100%;
	padding: 4px 8px;
	font-size: 1.2rem;
}
input[type="submit"] {
	padding: 10px 10px;
	background-color: #7e08608a;
	color: white;
	border: 0px solid;
}

ul li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 8px;
	margin-top: 10px;
	list-style: none;
	background-color: rgb(128, 145, 240);
	color: white;
}

li button {
	padding: 5px 10px;
	background-color: #c113c7;
	border: none;
	color: white;
}

li button:active,
input[type="submit"]:active {
	transform: scale(0.98);
}
